/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        cmd_1: cmd_1_macro {
            compatible = "zmk,behavior-macro";
            label = "CMD_1";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(N1))>;
        };

        cmd_2: cmd_2_macro {
            compatible = "zmk,behavior-macro";
            label = "CMD_2";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(N2))>;
        };

        cmd_3: cmd_3_macro {
            compatible = "zmk,behavior-macro";
            label = "CMD_3";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(N3))>;
        };

        cmd_4: cmd_4_macro {
            compatible = "zmk,behavior-macro";
            label = "CMD_4";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(N4))>;
        };

        cmd_5: cmd_5_macro {
            compatible = "zmk,behavior-macro";
            label = "CMD_5";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(N5))>;
        };

        cmd_6: cmd_6_macro {
            compatible = "zmk,behavior-macro";
            label = "CMD_6";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(N6))>;
        };

        cmd_7: cmd_7_macro {
            compatible = "zmk,behavior-macro";
            label = "CMD_7";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(N7))>;
        };

        cmd_8: cmd_8_macro {
            compatible = "zmk,behavior-macro";
            label = "CMD_8";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(N8))>;
        };

        cmd_9: cmd_9_macro {
            compatible = "zmk,behavior-macro";
            label = "CMD_9";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(N9))>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // Matrix rows 0–3, columns 0–1
                // Physical layout: 1234 (top), 5678 (bottom)
                // Top row: (R0,C0) (R1,C0) (R2,C0) (R3,C0)
                // Bottom:  (R0,C1) (R1,C1) (R2,C1) (R3,C1)
                &cmd_1  &cmd_5   // R0: 1, 5
                &cmd_2  &cmd_6   // R1: 2, 6
                &cmd_3  &cmd_7   // R2: 3, 7
                &cmd_4  &cmd_8   // R3: 4, 8
            >;
        };
    };
};
